*{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/************** NAV **************/
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#nav-logo img {
    padding-left: 30px;
    width: 140px;
}

.navbar a {
    color: grey;
    padding-top: 31px;
    margin-right: 50px;
}
.navbar a:hover {
    color: #0065FC;
    border-top: solid;
}
/************** HEADER TXT **************/
.header-one h3 {
    margin-left: 40px;
    margin-bottom: -14px;
}
.header-one h4 {
    margin-left: 40px;
    font-weight: 300;
}
/************** HEADER FORM **************/
.header-form {
    margin-left: 40px;
}
.header-form i {
    background-color: #F2F2F2;
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.header-form input {
    padding: 10px 15px 8px 10px;
    border: 1px solid #F2F2F2;
    margin-left: -6px;
    border-left: hidden;
    border-right: hidden;
}
.header-form button {
    padding: 10px 15px 8px 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: white;
    margin-left: -5px;
}
/************** FILTERS **************/
.filters {
    display: flex;
    align-items: center;
}
.header-filters p {
    margin-left: 40px;
    margin-right: 20px;
}
.filters button {
    padding: 6px 20px 8px 32px;
    border-radius: 20px;
    border: 2px solid #e6e6e6;
    background-color: white;
    font-weight: 600;
}

/* INFO CIRCLE */
#filters-info {
    font-weight: 300;
}
#info-circle {
    font-family: 'Inconsolata', monospace;
    color: #0065FC;
    background-color: white;
    border: 1px solid #F2F2F2;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
    margin-right: 12px;
}
/************** ACCOMODATIONS CARDS **************/
.accomodations { /** DIV 1 **/
    width: 950px;
    height: 665px;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.accomodations h3 {
    margin-left: 50px;
    padding-top: 40px;
    margin-bottom: 26px;
}
.accomodations-cards { /** DIV 2 **/
    display:flex;
    flex-wrap: wrap;
    margin-left: 47px;
}
/** CSS ALL CARDS ACCOMODATIONS INFOS **/
.info-cards {
    margin-left: 15px;
}
.info-cards p {
    margin-top: -15px;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 7px;
}
.info-cards i {
    font-size: 13px;
    color: #0065FC;
}

/** CARD 1 **/
#card-one {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-one img {
    width: 250px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 2 **/
#card-two {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-two img {
    width: 250px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 3 **/
#card-three {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-three img {
    width: 250px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 4 **/
#card-four {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-four img {
    width: 250px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 5 **/
#card-five {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-five img {
    width: 250px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 6 **/
#card-six {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-six img {
    width: 250px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** View More **/
#view-more {
    margin-left: 50px;
    font-weight: 600;
    font-size: 15px;
}