*{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/************** NAV **************/
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#nav-logo img {
    padding-left: 30px;
    width: 140px;
}

.navbar a {
    color: grey;
    padding-top: 31px;
    margin-right: 50px;
}
.navbar a:hover {
    color: #0065FC;
    border-top: solid;
}
/************** HEADER TXT **************/
.header-one h3 {
    margin-left: 40px;
    margin-bottom: -14px;
}
.header-one h4 {
    margin-left: 40px;
    font-weight: 300;
}
/************** HEADER FORM **************/
.header-form {
    margin-left: 40px;
}
.header-form i {
    background-color: #F2F2F2;
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.header-form input {
    padding: 10px 15px 8px 10px;
    border: 1px solid #F2F2F2;
    margin-left: -6px;
    border-left: hidden;
    border-right: hidden;
}
.header-form button {
    padding: 10px 15px 8px 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: white;
    margin-left: -5px;
}
/************** FILTERS **************/
.filters {
    display: flex;
    align-items: center;
}
.header-filters p {
    margin-left: 40px;
    margin-right: 20px;
}
.filters button {
    padding: 6px 20px 8px 32px;
    border-radius: 20px;
    border: 2px solid #e6e6e6;
    background-color: white;
    font-weight: 600;
}

/* INFO CIRCLE */
#filters-info {
    font-weight: 300;
    margin-bottom: 40px;
}
#info-circle {
    font-family: 'Inconsolata', monospace;
    color: #0065FC;
    background-color: white;
    border: 1px solid #F2F2F2;
    padding: 2px 7px 2px 7px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 40px;
}
/************** ACCOMODATIONS CARDS **************/
.accomodations { /** DIV 1 **/
    width: 60%;
    height: 100%;
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: -46%;
}
.accomodations h3 {
    margin-left: 50px;
    padding-top: 40px;
    margin-bottom: 26px;
}
.accomodations-cards { /** DIV 2 **/
    display:flex;
    flex-wrap: wrap;
    margin-left: 47px;
}
/** CSS ALL CARDS ACCOMODATIONS INFOS **/
.info-cards {
    margin-left: 15px;
}
.info-cards p {
    margin-top: -15px;
    font-weight: 200;
    font-size: 15px;
    margin-bottom: 7px;
}
.info-cards i {
    font-size: 13px;
    color: #0065FC;
}

/** CARD 1 **/
#card-one {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-one img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 2 **/
#card-two {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-two img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 3 **/
#card-three {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-three img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 4 **/
#card-four {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-four img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 5 **/
#card-five {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-five img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** CARD 6 **/
#card-six {
    border: 3px solid #fff;
    background-color: #fff;
    padding: 2px 2px 6px 2px;
    border-radius: 25px;
    margin-right: 35px;
    margin-bottom: 35px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-six img {
    width: 220px;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -15px;
}
/** View More **/
#view-more {
    margin-left: 50px;
    font-weight: 600;
    font-size: 17px;
    padding-bottom: 30px;
}

/************** MOST POPULAR CARDS **************/
.mostpopular {
    width: 30%;
    height: 560.5px;
    margin-left: 67%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 17px 0px 77px 20px;
}
#most-title {
    display: flex;
    justify-content: space-between;
}
#most-title h3 {
    margin-left: 15px;
    margin-bottom: 35px;
}
#most-title i {
    margin-top: 22px;
    margin-right: 50px;
}
.mostpopular-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 50px;
    margin-left: 18px
}
.most-infos {
    padding-left: 15px;
}
.most-infos h4 {
    margin-bottom: -10px;
    margin-top: 10px;
    font-size: 15px;
}
.most-infos p {
    font-size: 14px;
    font-weight: 200;
    padding-bottom: 20px;
}
.most-infos i {
    font-size: 13px;
    color: #0065FC;
}
/** CARD 7 **/
#card-seven {
    display:flex;
    margin-left: 10px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 5px 0px 1px 5px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-seven img {
    width: 120px;
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/** CARD 8 **/
#card-eight {
    display:flex;
    margin-left: 10px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 5px 0px 1px 5px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-eight img {
    width: 120px;
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/** CARD 9 **/
#card-nine {
    display:flex;
    margin-left: 10px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 12px;
    padding: 5px 0px 1px 5px;
    box-shadow: 1px 1px 12px rgb(185, 185, 185);
}
#card-nine img {
    width: 120px;
    height: 130px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/** SPAN STARS & € **/
#stars1 {
    color:#F2F2F2;
}
span {
    font-weight: bold;
}

/************** ACTIVITIES CARDS PIC **************/

.title-activities {
    margin-left: 40px;
    margin-top: 6%;
}
.activities-cards {
    display: flex;
}
.activities-cards {
    display: flex;
    flex-flow: column wrap;
}

/** ACTIVITY CARDS **/

/* Activity 1 */

#activity-one img {
    border-radius: 20px;
    width: 290px;
    height: 400px;
    margin-left: 40px;
    margin-bottom: -8px;
}
#activity-one h4 {
    margin-left: 55px;
}

/* Activity 2 */

#activity-two img {
    border-radius: 20px;
    width: 230px;
    height: 200px;
    margin-left: 30px;
    margin-bottom: -8px;
}

#activity-two h4 {
    margin-left: 42px;
}

/* Activity 3 */

#activity-three img {
    border-radius: 20px;
    width: 230px;
    height: 130px;
    margin-left: 30px;
    margin-bottom: -8px;
}
#activity-three h4 {
    margin-left: 42px;
}

/* Activity 4 */

#activity-four img {
    border-radius: 20px;
    width: 290px;
    height: 400px;
    margin-left: 40px;
    margin-bottom: -8px;
}
#activity-four h4 {
    margin-left: 42px;
}

/* Activity 5 */

#activity-five img {
    border-radius: 20px;
    width: 230px;
    height: 130px;
    margin-left: 30px;
    margin-bottom: -8px;
}
#activity-five h4 {
    margin-left: 42px;
}

/* Activity 6 */

#activity-six img {
    border-radius: 20px;
    width: 230px;
    height: 130px;
    margin-left: 30px;
    margin-bottom: -8px;
}
#activity-six h4 {
    margin-left: 42px;
}


/************** ACTIVITIES CARDS PIC **************/
.footer-all {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 50px 0px 50px 0px;
    
}
.footer-all h3 {
    font-size:17px;
}
.footer-all a {
    margin-right: 220px;
    font-size: 13px;
    font-weight: 200;
}
